

html {
    scroll-behavior: smooth;
  }

body {
    background: #393e46;
    font-family: 'Special Elite', cursive;
    color: #f4f3f3;
  

}

a { color: inherit;
transition: all .7s;
text-decoration: none; } 

a:hover { color: inherit; 
    letter-spacing: 6px;
} 

.hero-container {
  height: 900px;
  padding-top: 70px ;
  padding-bottom: 20px;
}
.hero-text {
    font-family: 'Special Elite', cursive;
    color: #f4f3f3;
    padding-top: 150px;

}

.heading {
    font-size: 50px;
    padding: 50px 0 150px 0;
}

.hero {
    max-height: 900px;
    width: auto;
}

a.collision {
    color: #f4f3f3;
    text-decoration: none;
    height: 50px;
    width: 150px;
    line-height: 50px;
    display: block;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

a.collision::before,
a.collision::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background: #8f1d14;
    top: 50%;
    border-radius: 50%;
    z-index: -1;
}

a.collision::before {
    transform: translate(-50%, -50%);
    left: 0px;
}
a.collision::after {
    transform: translate(-50%, -50%);
    right: -10px;
}

a.collision:hover::before {
    animation: move-left .8s both;
    animation-direction: alternate;
}

a.collision:hover::after {
    animation: move-right .8s both;
    animation-direction: alternate;
}

@keyframes move-left {
0% {
    left: -20px;
}

50% {
    left: 50%;
    width: 20px;
    height: 20px;
}

100% {
    left: 50%;
    height: 400px;
    width: 400px;
}
}

@keyframes move-right {
    0% {
        right: 20px;
    }
    
    50% {
        right: 35%;
        width: 20px;
        height: 20px;
    }
    
    100% {
        right: 35%;
        height: 100px;
        width: 100px;
    }

} 




.hero-links {
    padding: 50px 0;
    text-decoration: none;
}

.hero-links hr {
    background-color: #f4f3f3;
    width: 40px;
    margin: -20px 0 30px 0;
}

.music-blurb{
    padding-top: 80px;
}

.icon-row {
    margin-left: 15px;
}

.bc {
    height: 50px;
}
.icon-pad {
    padding-right: 20px;
}

.apple-icon {
    margin-top: 5px;
}

.spotify-icon {
    width: 50px;
}
.music-section {
    padding: 70px;
    height: 900px;
    width: auto;
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.45)), url("https://images.pexels.com/photos/696407/pexels-photo-696407.jpeg?cs=srgb&dl=armchair-art-chair-696407.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
}

.spotify-container {
    background-color: #dfdfdf;
    padding: 10px;
    width: 320px;
    height: 298px;
    border-radius: 3px;
    margin: 0 auto;

}

.art {
    height: 900px;
    background-image: url("https://images.pexels.com/photos/568021/pexels-photo-568021.jpeg?cs=srgb&dl=adult-alone-black-and-white-568021.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    filter: invert(.75);
    padding: 70px;
}

.black  {
    color: white;
}

.writing {
    height: 900px;
    background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2018-08/23/15/asset/buzzfeed-prod-web-01/sub-buzz-22758-1535052628-1.jpg?downsize=600:*&output-format=auto&output-quality=auto");
    background-size: cover;
    background-position: top center;
    /* filter: grayscale(1); */
    padding: 70px;
    color: black;
}

.video { 
    
    background-image: linear-gradient(
        rgba(65, 10, 0, 0.45), 
        rgba(65, 10, 0, 0.45)
      ), url("img/tv.jpg");
    background-size: cover;
    background-position: center;
    /* filter: grayscale(1); */
    padding: 70px;
    color: black;
}

.youtube {
    margin-top: -60px;
    padding: 20px;
   
}

footer {
    padding: 30px;
}



@media only screen and (max-width: 600px) {
    .hero-text {
        padding-top: 10px;
    }

    .hero-links {
        display: flex;
        justify-content: space-around;
    }
    a:hover { color: inherit; 
        letter-spacing: 3px;
    } 
    .heading {
        padding: 30px;
    }

    .music-blurb {
        padding-top: 0px;
        text-align: center;
    }
    .music-section {
        padding: 30px;
        height: 750px;
    }

   a.collision {
       width: 85px;
   }

   a.collision::before {
    left: -5px;
}

a.collision::after {
    right: -15px;
}

.youtube {
    margin-top: 40px;
    margin-bottom: 40px;
}
.video {
    padding: 60px 10px;
    height: 90vh;
   
}
    .icon-row {
       display: flex;
       justify-content: center;
       margin-left: 0;
       padding: 25px 0;
    }

}
